
/* ================================================================= */
/* ======================= DEFAULT CSS ===================== */
/* ================================================================= */
.w-25 {
    width: 32%!important;
}
* {
    margin: 0px;
    padding: 0px;
    border: 0;
    outline: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background: #fff;
    overflow-x: hidden;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    color: inherit;
    text-decoration: none;
    outline: 0;
}

a {
    transition: all .3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
    margin: 0;
}

p {
    margin-bottom: 0;
}

ol,
ul,
li {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

input,
textarea {
    border: 0;
    outline: 0;
    box-shadow: none;
    resize: none;
    background-color: transparent;
}

input:focus,
textarea:focus {
    box-shadow: none;
    border: 0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

img {
    max-width: 100%;
}

.m-bottom {
    margin-bottom: 70px;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: #FFFFFF;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/preloader.gif);
}

/* ================================================================= */
/*=================  HEADER PART CSS  ==================*/
/* ================================================================= */

.topber {
    background: #fff;
}

.topber-info {
    display: inline-block;
}

.topber-info + .topber-info {
    margin-left: 40px;
}

.topber-info i {
    font-size: 13px;
    color: #222222;
}

.topber-info a {
    color: #666666;
    font-size: 14px;
    font-weight: 300;
    margin-left: 10px;
    transition: all .3s;
}

.topber-info a:hover {
    color: #d49943
}

.topber-social-icon ul li {
    display: inline-block;

}

.topber-social-icon ul li a {
    line-height: 44px;
    display: block;
    text-align: center;
    width: 44px;
    height: 44px;
    font-size: 14px;
    border-left: 1px solid #e0e0e0;

}

.topber-social-icon ul li:last-child {
    border-right: 1px solid #e0e0e0;
}

.topber-social-icon ul li a:hover {
    color: #d49943;
}

.main-nav {
    padding: 0 15px;
    background: #163e6f;

}

.navbar-custom > li {
    padding-right: 20px;
}

.navbar-custom > li > a:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 4px;
    left: 50%;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    border-radius: 5px;
    background: #fdfdfd;
    transform: translate(-50%);
}

.navbar-custom > li > a {
    position: relative;
    font-size: 16px;
    color: #fff !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    transition: all .3s;
    z-index: 1;
}

.navbar-custom > li > a:hover:before {
    width: 40%;
}

.navbar-custom .dropdown li > a.nav-link {
    padding: 5px 20px;
}

.navbar-custom .dropdown li > a.nav-link:hover {
    color: #d49943;
}

.dropdown-menu {
    top: 85px;
}

.dropdown-toggle::after {
    margin-left: 8px;
    margin-right: -8px;
}

.nav-btn {
    color: #222;
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
    padding: 13px 33px;
    border-radius: 30px;
    background: #fff;
    margin-left: 55px;
    transition: all .3s;
}

.nav-btn:hover {
    color: #d49943;
}


/* ================================================================= */
/* ================= HERO BANNER PART CSS =================*/
/* ================================================================= */
.banner-slider {
    width: 100%; /* Asegúrate de que el slider ocupe todo el ancho disponible */
}

.hero-banner-part {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 300px 0px; /* Ajusta este valor según sea necesario para tu diseño */
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content h1 {
    color: #fff;
    font-size: 56px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    /* Las transformaciones y transiciones se han eliminado */
}

.hero-content .theme-btn {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 30px;
    background: #d49943;
    transition: all .3s;
}

.theme-btn:hover {
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, .4);
}

/* Estilos para los botones de navegación del slider */
.slick-prev,
.slick-next {
    font-size: 0; /* Elimina el texto si se usará ícono */
    line-height: 0; /* Elimina altura extra del texto */
    position: absolute;
    top: 50%; /* Centra verticalmente */
    transform: translate(0, -50%);
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: #222222; /* Color de fondo para los botones */
    color: white; /* Color del texto o ícono */
    border: none;
    border-radius: 50%; /* Botones redondos y completos */
    cursor: pointer;
    z-index: 999;
}

.slick-prev,
.slick-next {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-prev {
    left: 10px; /* Ajusta la posición horizontal izquierda */
}

.slick-next {
    right: 10px; /* Ajusta la posición horizontal derecha */
}
.slick-prev:before,
.slick-next:before {
    font-family: 'FontAwesome'; /* Asegúrate de que FontAwesome esté cargado */
    /* Corrige los códigos de los íconos según FontAwesome */
    font-size: 20px; /* Tamaño del ícono */
    display: block;
}

.slick-prev:before {
    content: '\f053'; /* Código del ícono de FontAwesome para "anterior" */
}

.slick-next:before {
    content: '\f054'; /* Código del ícono de FontAwesome para "siguiente" */
}


/* Estilos para el hover */
.slick-prev:hover,
.slick-next:hover {
    background-color: #d49943; /* Cambia el color de fondo al hacer hover */
}

/* ================================================================= */
/* ================== PAGE TITLE PART CSS ================ */
/* ================================================================= */
.page-title {
    padding: 50px 0px;
    border-bottom: 2px solid #f1f1f1;
}

.page-title-content h2 {
    color: #222222;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 8px;
}

.page-title-content a,
span {
    color: #222;
    font-size: 16px;
    font-weight: 300;
    transition: all .3s;
}

.page-title-content a:hover {
    color: #c89141;
}

/* ================================================================= */
/* ============= PRACTICE AREA PART CSS ================= */
/* ================================================================= */
.practice-area {
    padding-top: 100px;
    padding-bottom: 25px;
}

.practice-area.on-practice-page {
    padding-top: 110px;
    padding-bottom: 55px;
}

.section-heading-content {
    margin-bottom: 60px;
}

.section-heading-content h2 {
    font-size: 36px;
    color: #222222;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 15px;
}

.section-heading-content span {
    color: #606060;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.grid-practice-area {
    margin-bottom: 50px;
}

.grid-practice-area img {
    margin-bottom: 15px;
}

.grid-practice-area h3 a {
    font-size: 22px;
    color: #222;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
}

.grid-practice-area h3 a:hover {
    color: #d49943;
}

.grid-practice-area .read-more-btn:hover {
    color: #d49943;
}

.grid-practice-area .read-more-btn:hover span {
    color: #d49943;
}

.grid-practice-area p {
    color: #606060;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 15px;
}

.read-more-btn {
    color: #222;
    font-size: 16px;
    font-weight: 700;
}

.read-more-btn span {
    font-size: 16px;
    margin-left: 5px;
    display: inline-block;

}

.load-more {
    color: #fff !important;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 30px;
    background: #222;
    border: 2px solid transparent;
    transition: all .3s;
}

.load-more:hover {
    background: transparent;
    color: #d49943 !important;
    border-color: #d49943
}

.load-more i {
    margin-left: 5px;
}


/* ================================================================= */
/* ======================EXPERIENCE PART CSS =================== */
/* ================================================================= */

.experience-part {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px;
    z-index: 1;
}

.experience-part::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #163e6f;
    opacity: .85;
    z-index: -1;
}

.experience-content h2 {
    font-size: 38px;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    padding: 0px 100px;
}

/* ================================================================= */
/* ====================== CHOOSE US PART CSS =================== */
/* ================================================================= */

.choose-us-part {
    padding-top: 105px;
    padding-bottom: 60px;
    background-image: url(../images/IMAGENES.png);
    background-repeat: no-repeat;
    background-size: inherit;
    background-attachment: inherit;
    background-position: 100% 50%;

}

.choose-us-part.on-about-page {
    background-color: #F8F8F8;
    background-image: url(../images/IMAGENES\ 412\ X\ 908.png);
    background-position: 0 50%;

}

.grid-choose-info {
    margin-bottom: 50px;
    max-width: 350px;
}

.grid-choose-info img {
    margin-bottom: 15px;
}

.grid-choose-info h3 {
    font-size: 22px;
    color: #222;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

.grid-choose-info p {
    color: #606060;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* ================================================================= */
/* ======================== COUNTER UP PART CSS ===============*/
/* ================================================================= */

.counter-up {
    background: #222222;
    padding: 40px 0px 10px;
}

.counter-info {
    padding: 25px 0px;
    border: 1px dashed #fff;
    margin: 0 25px 30px;
}

.counter-info span {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.counter-info h4 {
    color: #fff;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

/* ================================================================= */
/* =================== ATTORNEYS PART CSS =================== */
/* ================================================================= */

.attorneys-part {
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: #F8F8F8;

}

.attorneys-page.attorneys-part {
    padding-top: 110px;
    padding-bottom: 60px;

}

.grid-expert-attorneys {
    margin-bottom: 30px;

}

.m-bottom.grid-expert-attorneys {
    margin-bottom: 50px;

}

.attorneys-img {
    position: relative;
    border-radius: 25px;
    margin-bottom: 30px;
    transition: all .3s;

}

.attorneys-img img {
    border-radius: 25px;
}

.attorneys-img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 0.5s;
    border-radius: 25px;
    background: #d49943;
}

.attorneys-img:hover::before {
    opacity: .85;
}

.attorneys-social-icon {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: 0.5s;
    text-align: center;
    transform: translate(-50%, -50%);
}

.attorneys-img:hover .attorneys-social-icon {
    opacity: 1;
}

.attorneys-social-icon ul li {
    display: inline-block;
}

.attorneys-social-icon ul li a {
    color: #fff;
    margin: 0 5px;
    width: 32px;
    text-align: center;
    display: inline-block;
    line-height: 32px;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: all .3s;
}

.attorneys-social-icon ul li a:hover {
    color: #222;
    border-color: #222;
}

.grid-expert-attorneys h3 {
    color: #222; 
    font-size: 26px; 
    font-family: 'Playfair Display', serif; 
    font-weight: 700; 
    margin-bottom: 10px;
    text-align: center; 
}

.grid-expert-attorneys span {
    color: #ffffff; 
    font-size: 16px; 
    font-weight: 300; 
    display: inline-block; 
    padding: 5px;
    border-radius: 5px; 
    margin-top: 10px; 
}


/* ================================================================= */
/* ===================== TESTIMONIAL PART CSS ============= */
/* ================================================================= */
.testimonial-part {
    padding-top: 110px;
    padding-bottom: 105px;
    background: #f8f8f8;
}

.clients-img {
    padding: 0 20px 0 60px;
}

.clients-img img {
    border-radius: 20px;
}

.clients-info {
    padding: 30px 50px;
}

.clients-info p {
    color: #606060;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.85;
    margin-bottom: 20px;

}

.clients-info h4 {
    color: #222;
    font-size: 26px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-bottom: 15px;
}

.clients-info span {
    color: #606060;
    font-size: 16px;
    font-weight: 300;
}

.testimonial-slider .fa-caret-left {
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    left: -50px;
    top: 100px;
    text-align: center;
    color: #ffffff;
    background: #222222;
    border-radius: 100%;
    padding-right: 5px;
    cursor: pointer;
    z-index: 11;
    transition: all .3s;
}

.testimonial-slider .fa-caret-right {
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    right: -50px;
    top: 100px;
    text-align: center;
    color: #ffffff;
    background: #222222;
    border-radius: 100%;
    padding-left: 5px;
    cursor: pointer;
    z-index: 11;
    transition: all .3s;
}

.testimonial-slider .fa-caret-left:hover,
.testimonial-slider .fa-caret-right:hover {
    background: #d49943;
}

/* ================================================================= */
/* =================== BLOG PART CSS ============== */
/* ================================================================= */
.blog-part {
    padding-top: 100px;
    padding-bottom: 80px;
}

.grid-blog {
    border: 1px solid #f6f6f6;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: all .3s;
}

.grid-blog:hover {
    box-shadow: 0 10px 18px rgba(0, 0, 0, 7%);
}

.blog-img img {
    border-radius: 15px;
}

.blog-info {
    padding: 30px 25px;
}

.publish-info {
    margin-bottom: 20px;
}

.author a,
.date-info a {
    font-size: 15px;

}

.author a i,
.date-info a i {
    font-size: 15px;
    margin-right: 6px;
}

.blog-title {
    color: #222;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    transition: all .3s;
}

.blog-title:hover {
    color: #d49943;
}

.view-details-btn {
    color: #d49943 !important;
    font-size: 16px;
    font-weight: 700;
    margin-top: 15px;
    display: block;
    transition: all .3s;
}

.view-details-btn:hover {
    color: #222 !important;
}

/* ================================================================= */
/* ================== ABOUT PART CSS ======================= */
/* ================================================================= */

.about-part {
    padding-top: 110px;
    padding-bottom: 130px;
}

.about-content {
    padding: 30px 0px;
}

.about-content h2 {
    color: #222222;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
}

.about-content p {
    color: #606060;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    margin-bottom: 20px;
}

.about-img {
    position: relative;
    margin-left: 40px;
    border-radius: 10px;
}

.about-img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    right: -20px;
    bottom: -20px;
    background: #d49943;
    border-radius: 10px;
    z-index: -1;
}

/* ================================================================= */
/* ================== PRATICE DETAILS PART CSS ===================*/
/* ================================================================= */
.pratice-details-part {
    padding-top: 110px;
    padding-bottom: 90px;
}

.pratice-details-content img {
    margin-bottom: 40px;
    border-radius: 10px;
}

.pratice-details-content h2 {
    color: #222222;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
}

.pratice-details-content p {
    font-size: 16px;
    color: #606060;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 20px;
}

.icon-box {
    font-size: 16px;
    color: #fff;
    width: 42px;
    height: 42px;
    line-height: 42px;
    background: #d49943;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

.confidentiality-box h2 {
    color: #222222;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 15px;

}

.details-check-box {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
}

.details-question {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.details-question span {
    font-size: 14px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    background: #d49943;
    text-align: center;
    flex: none;
}

.details-question h4 {
    color: #222222;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    margin-left: 30px;

}

.details-ans {
    padding-left: 70px;
}

.details-ans p {
    color: #606060;
    font-size: 16px;
    font-weight: 300;
}

/* ================================================================= */
/* ===================== HAPPY CLIENT PART CSS ================ */
/* ================================================================= */
.happy-client-part {
    padding-top: 90px;
    padding-bottom: 90px;
}

.happy-client-part .clients-info {
    padding: 30px 0;
}/* Establece el diseño de flexbox para las filas */


/* Invierte el orden de los elementos para la segunda fila */
.row:nth-child(2) {
    flex-direction: row-reverse;
}

/* Establece la disposición y el ancho de las columnas de imagen y texto */
.col-lg-4, .col-lg-8 {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Asegúrate de que la imagen sea responsiva y ocupe el 100% del contenedor .col-lg-4 */
.clients-img img {
    width: 100%;
    height: auto;
}

/* Asegúrate de que el texto esté alineado adecuadamente */
.clients-info {
    text-align: left;
    padding: 15px;
}

/* Cambia la alineación del texto para la segunda fila */
.row:nth-child(2) .clients-info {
    text-align: right;
}

/* ================================================================= */
/* ================= BOOK APPOINMENT PART CSS ================= */
/* ================================================================= */

.book-appoinment-part {
    padding-top: 105px;
    padding-right: 0px;
    padding-bottom: 110px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background: #f7f7f7;
    background-image: url(../images/layer-img.png);
    background-repeat: no-repeat;
    background-size: inherit;
    background-attachment: inherit;
    background-position: 100% 0;


}

.appoinment-from h3 {
    color: #000;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.custom-input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid transparent;
    margin-bottom: 30px;
    transition: all .3s;
    background: #efefef;
}

.custom-input:hover {
    border-color: #d49943;
}

.custom-input:focus {
    box-shadow: none;
    background: #efefef;
    border: 1px solid #d49943;
}

.custom-textarea {
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid transparent;
    padding-top: 10px;
    transition: all .3s;
    background: #efefef;
}

.custom-textarea:hover {
    border-color: #d49943;
}

.custom-textarea:focus {
    box-shadow: none;
    background: #efefef;
    border: 1px solid #d49943;
}

.submit {
    color: #fff;
    padding: 10px 24px;
    border-radius: 30px;
    background: #d49943;
    font-size: 16px;
    font-weight: 500;
    margin-top: 50px;
    transition: all .3s;
    border: 2px solid transparent;
}

.submit:hover {
    color: #d49943;
    background: transparent;
    border-color: #d49943;
}

.submit:focus {
    box-shadow: none;
}

.submit i {
    padding-left: 5px;
}

/* ================================================================= */
/* ================== BLOG POST PART CSS =============== */
/* ================================================================= */
.blog-post-part {
    padding-top: 110px;
    padding-bottom: 110px;
}

.blog-post-part .grid-blog {
    margin-bottom: 60px;
}

.blog-post-part .another-page-links {
    margin-top: 20px;
}

.another-page-links ul li {
    display: inline-block;
    margin: 0 5px;
}

.another-page-links ul li:first-child {
    margin-left: 0;
}

.another-page-links ul li:last-child {
    margin-right: 0;
}

.another-page-links ul li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #222;
    font-weight: 700;
    border: 1px solid #f1f1f1;
    border-radius: 100%;
    transition: all .3s;
}

.another-page-links ul li:first-child a,
.another-page-links ul li:last-child a {
    font-size: 22px;
}

.another-page-links ul li a:hover {
    background: #222;
    color: #fff;
}

.another-page-links ul li a:focus {
    background: #d49943;
    color: #fff;
}

/* ================================================================= */
/* ================= BLOG DETAILS PART CSS =============== */
/* ================================================================= */
.blog-details {
    padding-top: 110px;
    padding-bottom: 110px;
}

.serach_btn {
    padding: 22px 25px;
    background: #d49943;
    margin-bottom: 60px;
}

.search_ber {
    position: relative;
}

.search_button {
    height: 50px;
    padding-left: 20px;
    padding-right: 55px;
    border: none;
    border-radius: 0;
}

.search_button:focus {
    box-shadow: none;
}

.search_ber button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 50px;
    height: 50px;
    color: #222;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    border-radius: 4px;
    background: transparent;
}

.search_ber button:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

.blog-catagory,
.recent-post,
.popular-tag {
    padding: 35px 25px 40px;
    background: #f8f8f8;
    margin-bottom: 60px;
}

.blog-catagory h3,
.recent-post h3,
.popular-tag h3 {
    color: #000;
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px dashed #d49943;
}

.case-examples ul li {
    margin-bottom: 18px;
}

.case-examples ul li:last-child {
    margin-bottom: 0;
}

.case-examples ul li i {
    color: #d49943;
    padding-right: 15px;
    font-size: 18px;
}

.case-examples ul li a {
    color: #222222;
    font-size: 16px;
    font-weight: 300;
    transition: all .3s;
}

.case-examples ul li a:hover {
    color: #d49943;
    padding-left: 10px;
}

.case-examples ul li a:hover span {
    color: #d49943 !important;
}

.resent-news-info {
    margin-bottom: 30px;
}

.resent-news-info:last-child {
    margin-bottom: 0;
}

.publish-date a i {
    font-size: 16px;
    color: #d49943
}

.publish-date a span {
    color: #d49943;
    font-size: 16px;
    padding-left: 8px;
    font-weight: 400;
}

.news-title h5 a {
    color: #222222 !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    display: inline-block;
    margin-top: 12px;
}

.news-title h5 a:hover {
    color: #d49943 !important;
}

.popular-tag ul li {
    display: inline-block;
    margin: 15px 0px;
}

.popular-tag ul li a {
    font-size: 15px;
    color: #222222;
    padding: 12px 16px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    transition: all .3s;
}

.popular-tag ul li a:hover {
    background: #d49943;
    color: #ffffff;
    border-color: #d49943;
}

.blog-details-content {
    max-width: 715px;
    margin-left: auto;
}

.blog-details-content img {
    margin-bottom: 40px;
}

.blog-details-content h3 a {
    color: #000000;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 20px;
}

.blog-details-content p {
    color: #606060;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}

.blog-details-content blockquote {
    color: #d49943;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 20px;
}

.react-info {
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.man a {
    color: #606060;
    font-size: 16px;
    font-weight: 300;
    margin-right: 10px;
}

.man a i {
    font-size: 16px;
    color: #d49943;
    margin-right: 8px;
}

.react-icon a i {
    font-size: 16px;
    color: #d49943;
    margin-right: 5px;
}

.react-icon span {
    font-size: 16px;
    color: #606060;
    font-weight: 300;
    padding-right: 20px;
}

.react-icon span:last-child {
    padding-right: 0 !important;
}

.tags-bar {
    padding: 15px 20px;
    background: #d49943;
    margin-top: 50px;
    margin-bottom: 65px;

}

.tags-box {
    border: 1px dashed #fff;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.important-tag {
    margin-right: 10px;
}

.important-tag ul li {
    display: inline-block;
}

.important-tag ul li span {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-right: 5px;
}

.important-tag ul li a {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}

.share-btn a {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.post-reaction h3 {
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #000000;
    padding-bottom: 15px;
    border-bottom: 1px dashed #606060;
    margin-bottom: 40px;
}

.all-comments + .all-comments {
    margin-left: 100px;
}

.comment-person-img {
    width: 95px;
}

.comment-content {
    margin-left: 35px;
}

.comment-content h4 {
    color: #222222;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    padding-right: 10px;
    display: inline-block;
    margin-bottom: 15px;
}

.comment-content p {
    font-size: 16px;
    color: #606060;
    font-weight: 300;
    margin-bottom: 10px;
}

.comment-content a i {
    font-size: 16px;
    color: #d49943
}

.comment-input {
    margin-top: 50px;
}

.comment-input h3 {
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #000000;
    padding-bottom: 15px;
    border-bottom: 1px dashed #606060;
    margin-bottom: 40px;
}

.comment-input .custom-input,
.comment-input .custom-textarea {
    padding-left: 18px;
    border-radius: 2px;
}

.comment-input .submit {
    margin-top: 40px;
}

.bg-color {
    background: #efefef;
    border: 1px solid #d0d0d0
}

/* ================================================================= */
/* =================== GALLERY PART CSS ====================== */
/* ================================================================= */

.gallery-part {
    padding-top: 110px;
    padding-bottom: 70px;
}

.grid-gallery {
    margin-bottom: 40px;
}

.gallery-info {
    margin-top: 20px;
}

.gallery-info h4 {
    color: #222222;
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 10px;
}

.gallery-info h5 {
    color: #606060;
    font-size: 16px;
    font-weight: 300;
}

.gallery-img {
    position: relative;
    overflow: hidden;
    transform: all .3s;
}

.gallery-img:hover .gallery-overlay {
    display: block;
}

.gallery-overlay {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #222;
    opacity: .8;
    display: none;
}

.gallery-overlay i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: #fff;
}

.gallery-overlay i:before {
    content: '+';
}

/* ================================================================= */
/* =================== QUESTIONS PART CSS ===================== */
/* ================================================================= */

.questions-part {
    padding-top: 100px;
    padding-bottom: 100px;
}

#accordion .card .card-header h5 {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #222;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 22px;
    cursor: pointer;
}

#accordion .card .card-header h5 span {
    width: 40px;
    font-size: 18px;
    height: 40px;
    border-radius: 50%;
    background-color: #d49943;
    line-height: 35px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    font-weight: 500;
    flex: none;
}

.card-body p {
    color: #606060;
    font-size: 16px;
    font-weight: 300;
    margin-left: 35px;
}

.card {
    border: none;
}

.btn-link:focus {
    box-shadow: none !important;
    border: none
}

.card-header {
    border: none !important;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
}


/* ================================================================= */
/* ====================== ERROR PART CSS ================== */
/* ================================================================= */

.error-part {
    padding-top: 140px;
    padding-bottom: 140px;
}

.error-content {
    max-width: 385px;
    margin-left: 150px;
}

.error-content h2 {
    font-size: 110px;
    font-weight: 700;
    color: #222;
}

.error-content h3 {
    color: #222;
    font-size: 26px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.error-content p {
    font-size: 16px;
    color: #606060;
    font-weight: 300;
    margin-bottom: 50px;
}

.backhome {
    padding: 15px 30px;
    background: #d49943;
    color: #fff !important;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: all .3s;
}

.backhome:hover {
    background: transparent;
    border-color: #d49943;
    color: #d49943 !important;
}

.backhome i {
    padding-left: 5px;
}

/* ================================================================= */
/* ============= TRUST PART CSS ============== */
/* ================================================================= */
.trust-part {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #d49943;
}

.trust-content h2 {
    color: #fff;
    font-size: 38px;
    font-family: 'Playfair Display', serif;
}

.contact-btn {
    color: #222;
    padding: 10px 24px;
    border-radius: 30px;
    background: #fff;
    border: 2px solid transparent;
    font-size: 16px;
    font-weight: 500;
    transition: all .3s;

}

.contact-btn:hover {
    color: #fff;
    border-color: #fff;
    background: transparent;
}

.contact-btn i {
    padding-left: 5px;
}

/* ================================================================= */
/* =================== CONTACT PART CSS ==================== */
/* ================================================================= */
.contact-part {
    padding-top: 110px;
    padding-bottom: 110px;
}

.personal-info-box {
    text-align: center;
    margin-bottom: 20px;
}

.personal-info-box .icon {
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #dbdbdb;
    border-radius: 100%;
    display: block;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 25px;
    transition: all .3s;
}

.personal-info-box:hover .icon {
    color: #fff;
    background: #d49943;
    border-color: #d49943;
}

.personal-info-box .icon:before {
    position: absolute;
    content: "";
    width: 115px;
    height: 1px;
    background: #dbdbdb;
    left: 48px;
    top: 25px;
    transition: all .3s;
}

.personal-info-box:hover .icon:before,
.personal-info-box:hover .icon:after {
    background: #d49943;
}

.personal-info-box .icon:after {
    position: absolute;
    content: "";
    width: 115px;
    height: 1px;
    background: #dbdbdb;
    right: 48px;
    top: 25px;
    transition: all .3s;
}

.personal-info-box p {
    font-size: 16px;
    color: #222222;
    font-weight: 300;
}

.personal-info-box p a {
    color: #606060;
}

.personal-info-box p a:hover {
    color: #d49943;
}

.get-touch {
    max-width: 570px;
}

.get-touch h3 {
    color: #000;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 55px;
}

.touch-info {
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid transparent;
    margin-bottom: 30px;
    transition: all .3s;
    background: #efefef;
    padding-left: 18px;
    border-radius: 2px;
}

.touch-info:hover {
    border-color: #d49943;
}

.touch-info:focus {
    box-shadow: none;
    border: 1px solid #d49943;
}

.touch-textarea {
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid transparent;
    padding-top: 10px;
    transition: all .3s;
    padding-left: 18px;
    background: #efefef;
    border-radius: 2px;
}

.touch-textarea:hover {
    border-color: #d49943;
}

.touch-textarea:focus {
    box-shadow: none;
    border: 1px solid #d49943;
}

.location-box {
    overflow: hidden;
    margin-left: -25px;
}

.location-box h3 {
    color: #000;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 55px;
}

/* ================================================================= */
/* ================ FOOTER TOP PART CSS ================ */
/* ================================================================= */
.footer-top {
    padding-top: 55px;
    padding-bottom: 0px;
    background: #163e6f;
    border-bottom: 1px solid #ffffff;
    ;
}

.footer-logo {
    margin-bottom: 25px;
}
.footer-logo img {
    width: 230px; 
    height: 140px; 
    object-fit: contain; 
}


.footer-column {
    margin-bottom: 30px;
    

}

.footer-column p {
    color: #bebebe;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 300;
    margin-bottom: 5px;


    .footer-column p.personal-info{
        color: #bebebe;
        font-size: 15px;
        line-height: 1.6;
        font-weight: 300;
        margin-bottom: 5px;
    }
}
/* Añade esto al final de tu CSS existente */

/* Dispositivos medianos (tablets, 768px y más) */
@media (min-width: 768px) and (max-width: 991px) {
    .footer-top .row > div {
        padding: 0 10px; /* Reduce el padding para pantallas medianas */
    }
    .footer-logo img {
        width: 180px; /* Logo más pequeño para pantallas medianas */
        height: auto; /* Mantener la proporción del logo */
    }
    .footer-column h3 {
        font-size: 18px; /* Tamaño de fuente más pequeño para los títulos */
    }
    .footer-column ul li a {
        font-size: 13px; /* Tamaño de fuente más pequeño para los enlaces */
    }
    .personal-info i {
        font-size: 18px; /* Iconos más pequeños para pantallas medianas */
    }
}

/* Dispositivos pequeños (teléfonos en posición horizontal, 576px y más) */
@media (max-width: 767px) {
    .footer-top .row > div {
        padding: 0 5px; /* Padding aún más pequeño para pantallas pequeñas */
    }
    .footer-logo img {
        width: 150px; /* Logo aún más pequeño para pantallas pequeñas */
        height: auto; /* Mantener la proporción del logo */
    }
    .footer-column h3 {
        font-size: 16px; /* Tamaño de fuente aún más pequeño para los títulos */
    }
    .footer-column {
        margin-bottom: 20px; /* Menos margen para las columnas del pie de página */
    }
    .footer-column p, .footer-column ul li a {
        font-size: 16px; /* Tamaño de fuente más pequeño para el texto y enlaces */
    }
    .personal-info {
        display: block; /* Apilar iconos y texto verticalmente */
        margin-bottom: 10px; /* Espacio entre elementos apilados */
    }
    .personal-info i {
        font-size: 16px; /* Ajusta el tamaño del icono si es necesario */
    }
}

/* Dispositivos muy pequeños (teléfonos en posición vertical, menos de 576px) */
@media (max-width: 575px) {
    .footer-top {
        padding-top: 30px; /* Menos padding en la parte superior */
    }
    .footer-top .row {
        flex-direction: column; /* Apilar las columnas verticalmente */
        align-items: center; /* Alinear elementos al centro */
    }
    .footer-top .row > div {
        width: 100%; /* Columnas de ancho completo para pantallas pequeñas */
        max-width: 100%; /* Evitar que excedan el ancho */
        padding: 0 15px; /* Padding para no pegarse a los bordes */
    }
    .footer-logo img {
        width: 130px; /* Logo más pequeño para pantallas muy pequeñas */
        height: auto; /* Mantener la proporción del logo */
    }
    .footer-column {
        text-align: center; /* Alinear texto al centro */
        margin-bottom: 15px; /* Ajustar el margen inferior */
    }
    .footer-column h3 {
        font-size: 15px; /* Ajustar el tamaño del título */
    }
    .footer-column p, .footer-column ul li a {
        font-size: 14px; /* Tamaño de fuente más pequeño para el texto y enlaces */
    }
    .personal-info i {
        margin-right: 5px; /* Margen más pequeño para los iconos */
    }
}


@media (min-width: 992px) { /* para pantallas grandes */
    .footer-top .row > div {
        padding: 0 15px; /* Añade padding horizontal */
    }
}

@media (min-width: 1200px) { /* para pantallas extra grandes */
    .footer-top .row > div {
        padding: 0 15px; /* Añade más padding horizontal si es necesario */
    }
}
.personal-info i {
    color: #fff;
    transition: all .3s;
    margin-right: 10px;
}

.personal-info span {
    color: #bebebe;
    font-size: 14px;
    font-weight: 300;
    margin-left: 10px;
    transition: all .3s;
}

.personal-info span:hover {
    color: #d49943
}

.footer-column {
    padding: 0;
    margin-bottom: 25px; /* ajusta el margen inferior según sea necesario */

}
.footer-column h3 {
    font-size: 21px;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-bottom: 28px;
}

.news-blog {
    margin-bottom: 30px;
}

.news-blog-title {
    color: #bebebe !important;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-left: 20px;
}

.news-blog-title:hover {
    color: #d49943 !important;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    font-size: 14px;
    color: #bebebe;
    font-weight: 500;
    display: block;
    transition: all .3s;
    margin-bottom: 6px;
}

.footer-column ul li a:hover {
    color: #d49943;
}

/* ================================================================= */
/* ============== FOOTER BOTTOM PART CSS ============= */
/* ================================================================= */

.footer-bottom {
    background: #163e6f;
    padding: 20px 0px;
    text-align: center; /* This ensures the text is centered */
}

.copy-right-text p {
    font-size: 14px;
    color: #fffefe;
    font-weight: 300;
    margin-bottom: 0; /* Remove the margin if there is any */
}

.copy-right-text p i {
    color: #c89141;
}


/* Inserta aquí tu CSS DEFAULT proporcionado */

/* Aquí comienzan los estilos específicos para la sección de Escrituras Públicas */
.main-header {
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.main-content {
    display: flex;
}

.sidebar {
    background-color: #e9ecef;
    width: 250px;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.sidebar ul li:hover,
.sidebar ul li.active {
    background-color: #dde;
}

.requirements {
    flex-grow: 1;
    padding: 20px;
}

.requirements h2 {
    margin-top: 0;
}

.requirements ul {
    list-style-type: none;
    padding: 0;
}

.requirements ul li {
    padding: 5px 0;
}

.hidden {
    display: none;
}

/* Tramites Extra-Protocolares y Protocolares */

.list-total {
    margin-right: 0px;
    margin-left: 0px;
    padding:45px;
    border-top: 1px solid rgba(0,0,0,.125);
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.30rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);

}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #163e6f;
    border-color: #163e6f;

}


.list-title{
    text-align: center;
    padding: 5px;
    color: #495057;
    font-family: 'Roboto', sans-serif;
}

.list-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.list-text2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

@media (max-width: 800px){
    .list-title{
        font-size: 12px;
    }

    .list-text2{
        font-size: 10px;
    }
}

@media (max-width: 500px){
    .list-title{
        font-size: 10px;
    }
    .list-text2{
        font-size: 8px;
    }
}


@media (max-width: 400px){
    .list-text2{
        font-size: 6px;
    }
}

.panel-azul{
    background-color: #163e6f;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
}

/* Inserta aquí el resto de tu CSS DEFAULT proporcionado */
/* Estilo para el botón de WhatsApp flotante */
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.fab {
    margin-top: 15px; /* Ajusta según sea necesario para centrar el ícono */
}

.contact-card {
    background-color: #f7f7f7; /* Color de fondo del cuadro */
    margin-bottom: 20px; /* Espacio entre los cuadros */
    padding: 20px; /* Espaciado interno */
    border: 1px solid #ddd; /* Borde del cuadro */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra suave */
    border-radius: 4px; /* Bordes redondeados */
}

.contact-card h3 {
    border-bottom: 2px solid rgb(12, 22, 86); /* Línea debajo del título */
    padding-bottom: 10px; /* Espaciado debajo del título */
    margin-bottom: 20px; /* Espacio debajo de la línea */
    font-size: 18px;
}

.contact-card .contact-info p {
    font-size: 13px; /* Tamaño de fuente para la información de contacto */
    color: #333; /* Color de texto */
    margin-bottom: 10px; /* Espacio entre los elementos de contacto */
}

.contact-card .contact-info a {
    color: #007bff; /* Color de los enlaces */
    text-decoration: none; /* No subrayado */
}

.contact-card .contact-info a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}




.contact-bar {
    background-color: #f7f7f7;
    color: rgb(33, 13, 84);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

.contact-item {
    display: flex;
    align-items: center;
    font-size: 1rem; /* Base font size, puede ser ajustada para pantallas más grandes o pequeñas */
}

.contact-item a,
.contact-item span {
    white-space: nowrap; /* Evita que el texto se envuelva en múltiples líneas */
}

.contact-item i {
    margin-right: 8px;
}

.contact-icon {
    background-color: rgb(15, 16, 72);
    color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    margin-right: 5px;
}

.map-container {
    overflow: hidden;
    position: relative;
}

.google-map {
    width: 100%;
    height: auto;
    aspect-ratio: 1907 / 350;
}

/* Media queries para ajustar el tamaño del texto en diferentes anchos de pantalla */
@media (max-width: 1200px) {
    .contact-item {
        font-size: 0.9rem; /* Tamaño de fuente más pequeño para pantallas grandes */
    }
}

@media (max-width: 768px) {
    .contact-bar {
        flex-direction: column;
        justify-content: center;
    }

    .contact-item {
        justify-content: center;
        width: 100%;
        font-size: 0.8rem; /* Tamaño de fuente más pequeño para tablets */
    }

    .contact-item:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .contact-item {
        font-size: 0.7rem; /* Tamaño de fuente más pequeño para móviles */
    }
}


/* estilos.css */

.map-container {
    overflow: hidden;
    position: relative;
}

.google-map {
    width: 1907px;
    height: 350px;
}

/* Consultas y Servicios Styles */
.consultas-servicios-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 20px; /* Espaciado superior e inferior */
    margin-bottom: 2em;

}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto */
}

.navbar-brand {
    text-align: left; /* Anula el centrado de texto para el logo */
}

.content {
    margin-bottom: 1em; /* Espacio debajo del contenido del texto */
}

.content h2 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 1.5em;

}

.content p {
    font-size: 16px;
    color: #555;
    margin-bottom: 2em;
}

.button-container {
    margin-top: 2em; /* Aumenta este valor para dar más espacio encima de los botones */
    display: flex; /* Hace que los botones estén en línea */
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px; /* Espacio entre botones */
}


.service-button {
    background-color: #eeeef2; /* Asegúrate de que este es el color de fondo deseado */
    color: white !important; /* El uso de !important debería sobreescribir cualquier otro estilo */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 2px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    display: inline-block; /* Esto garantiza que los estilos se apliquen correctamente */
}

.service-button:hover {
    background-color: #f3f3f5; /* O cualquier otro color de hover que desees */
    /* No es necesario cambiar la propiedad de color aquí si ya es blanca */
}


@media (max-width: 768px) {
    .button-container {
        flex-direction: column; /* Acomoda botones en columna para pantallas pequeñas */
        gap: 15px; /* Espacio entre botones en pantallas pequeñas */
    }
}


/* ================================================================= */
/* Estilos para el menú lateral */
.nav-pills .nav-link {
    background-color: #eaeaea;
    margin-bottom: 5px;
    border: none;
    color: black;
    border-radius: 0; /* Hace que los botones sean cuadrados */
  }
  
  .nav-pills .nav-link.active, .nav-pills .nav-link:hover {
    background-color: #163e6f;
    color: white;
  }
  
  /* Estilos para el contenido principal */
  .tab-content {
    background-color: white;
    padding: 20px;
    border-left: 3px solid #133477; /* Agrega una barra lateral para el contenido activo */
  }
  
  /* Estilos para los títulos y listas dentro de las pestañas */
  h4{
    background-color:#163e6f;
    color: white;
    padding: 10px;
    margin-top: 0;
    border-top-left-radius: 10px; /* Bordes redondeados para el encabezado */
    border-top-right-radius: 10px;
  }
  
  ul {
    list-style: none; /* Remueve los bullets de la lista */
    padding-left: 0;
  }
  
 
  .nav-link.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
  }
  
  .nav-link.dropdown-toggle.collapsed::after {
    border-top: 0;
    border-right: .3em solid transparent;
    border-bottom: .3em solid;
    border-left: .3em solid transparent;
  }

.nav-link.custom-tab {
    background-color: #eaeaea; 
    color: black; 
  }
  
 
  .nav-link.custom-tab:hover,
  .nav-link.custom-tab:focus {
    background-color: #163e6f; 
    color: white; 
  }
  

  .nav-link.custom-tab.active,
  .nav-pills .show>.custom-tab {
    background-color: #163e6f; 
    color: white; 
  }
  
.tab-pane p,
.tab-pane ul {
  text-align: left; 
}


